# Virtual Environment
venv/
env/
.env

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Large Model weights & Raw Datasets (Recommended to download via script/HF)
models/*.pt
!models/ppe_pretrained.pt
data/train/
data/valid/
data/test/
data/sample_video.avi
data/sample_video.mp4
results/*.jpg
results/*.avi
results/*.mp4

# OS
.DS_Store
Thumbs.db